<header class="main-header">
  <div class="logo">
    <h2><span>{{companyName.COMPANY_NAME_FIRST}}</span>{{companyName.COMPANY_NAME_LAST}}</h2>
  </div>

  <nav [ngClass]="{ 'nav-links': true, 'show': menuOpen }">
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/services" routerLinkActive="active">Services</a>
    <a routerLink="/our-Technologies" routerLinkActive="active">Our technogy</a>
    <a routerLink="/projects" routerLinkActive="active">Projects</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/blog-section" routerLinkActive="active">Blog</a>
    <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
  </nav>

  <div class="menu-toggle" (click)="toggleMenu()">
    <i [ngClass]="menuOpen ? 'fas fa-times' : 'fas fa-bars'"></i>
  </div>
</header>
