<section class="tech-one">
  <h2 class="title">Our Technologies</h2>

  <div class="frame">
    <img
      class="single-image"
      src="Assets/screenshot2.jpg"
      alt="Our Technologies"
      loading="lazy"
    />
  </div>
</section>

<div class="contact-section">
  <div class="contact-header">
    <p class="contact-subtitle">Contact Info</p>
    <h2 class="contact-title">We are always <br /> happy to assist you</h2>
  </div>

  <div class="contact-details">
    <!-- Email -->
    <div class="contact-card">
      <h4>Email Address</h4>
      <p class="highlight">helpinfo.com</p>
      <p class="assist">Assistance hours:<br /> Monday - Friday 6 am to 8 pm EST</p>
    </div>

    <!-- Phone -->
    <div class="contact-card">
      <h4>Number</h4>
      <p class="highlight">(808) 998-34256</p>
      <p class="assist">Assistance hours:<br /> Monday - Friday 6 am to 8 pm EST</p>
    </div>
  </div>
</div>


<div class="section-container">
    <h1>Ready To Use Our App With No <br> Hidden Malware</h1>
    <p>Etiam euismod volutpat lacus fringilla henr. Mauris lobortis purus velit quis. 
       Nunc mollis venenatis metus nec aliquet.</p>
    <div class="signin">
      Already a member? <a href="#">Sign In</a>
    </div>
    <div class="form-box">
      <input type="email" placeholder="Enter your email address">
      <button>Try Free</button>
    </div>
  </div>

  <app-footer></app-footer>