<div class="services-section">
  <h4>Our Services</h4>
  <h2>Services We Offer</h2>
  <p>
    With our awesome team we offer a variety of services from UI/UX design 
    to Video Productions. Our goal is to help you on your road to create your product.
  </p>

  <div class="services-actions">
    <button class="btn-talk">
      Let’s Talk 💬
    </button>
    <a href="#" class="projects-link">Check our Projects →</a>
  </div>
</div>

<div class="process-section">
 <div class="process-header">
  <!-- Left Side -->
  <div class="process-left">
    <h4 class="subtitle">Our Process</h4>
    <h2 class="title">
      Our Working Process help <br />
      you to get the best from <br />
      our team skill
    </h2>
  </div>

  <!-- Right Side -->
  <div class="process-right">
    <p class="description">
      With Our team knowladge of different process <br />
      We Choose the perfect process to suit the <br />
      Development of your Product
    </p>
  </div>
</div>


  <div class="process-flow">
    <div class="step" *ngFor="let step of steps; let i = index">
      <h3>{{ step.id }} <span>{{ step.title }}</span></h3>
      <p>{{ step.description }}</p>
      <div class="curve" *ngIf="i < steps.length - 1"></div>
    </div>
  </div>
</div>



<div class="content-section">
  <div class="video-container">
    <img src="Assets/Blog Image.jpg" alt="Work Hard Anywhere" class="video-thumbnail">
    <div class="play-button">
      ▶
    </div>
  </div>

  <div class="text-container">
    <h2>Lorem Ipsum is simply dummy text.</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy .
    </p>

    <ul class="checklist">
      <li><span class="check">✔</span> Lorem Ipsum is simply</li>
      <li><span class="check">✔</span> Lorem Ipsum is simply</li>
      <li><span class="check">✔</span> Lorem Ipsum is simply</li>
      <li><span class="check">✔</span> Lorem Ipsum is simply</li>
    </ul>
  </div>
</div>



<div class="services-section">
  <!-- First Row (Text Left, Image Right) -->
  <div class="service-row">
    <div class="service-text">
      <h2>Business & Corporate Websites</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries,
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
      <a href="#" class="read-more">Read more</a>
    </div>
    <div class="service-image">
      <img src="Assets/Rectangle 25.jpg" alt="Business Websites" />
    </div>
  </div>

  <!-- Second Row (Image Left, Text Right) -->
  <div class="service-row">
    <div class="service-image">
      <img src="Assets/Rectangle 26.jpg" alt="E-Commerce Websites" />
    </div>
    <div class="service-text">
      <h2>E-Commerce Websites</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries,
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
      <a href="#" class="read-more">Read more</a>
    </div>
  </div>
</div>


<div class="services-section">
  <!-- First Row (Text Left, Image Right) -->
  <div class="service-row">
    <div class="service-text">
      <h2>Business & Corporate Websites</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries,
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
      <a href="#" class="read-more">Read more</a>
    </div>
    <div class="service-image">
      <img src="Assets/Rectangle 25.jpg" alt="Business Websites" />
    </div>
  </div>

  <!-- Second Row (Image Left, Text Right) -->
  <div class="service-row">
    <div class="service-image">
      <img src="Assets/Rectangle 26.jpg" alt="E-Commerce Websites" />
    </div>
    <div class="service-text">
      <h2>E-Commerce Websites</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries,
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
      <a href="#" class="read-more">Read more</a>
    </div>
  </div>
</div>

<div class="services-section">
  <!-- First Row (Text Left, Image Right) -->
  <div class="service-row">
    <div class="service-text">
      <h2>Business & Corporate Websites</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries,
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
      <a href="#" class="read-more">Read more</a>
    </div>
    <div class="service-image">
      <img src="Assets/Rectangle 25.jpg" alt="Business Websites" />
    </div>
  </div>

  <!-- Second Row (Image Left, Text Right) -->
  <div class="service-row">
    <div class="service-image">
      <img src="Assets/Rectangle 26.jpg" alt="E-Commerce Websites" />
    </div>
    <div class="service-text">
      <h2>E-Commerce Websites</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries,
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
      <a href="#" class="read-more">Read more</a>
    </div>
  </div>
</div>



<div class="testimonial-section">
  <h4 class="subtitle">Testmonial</h4>
  <h2 class="title">
    You still hesitate about working with Us ? <br />
    Check what They say about Us
  </h2>

  <div class="testimonials">
    <!-- Testimonial 1 -->
    <div class="testimonial-card">
      <p>
        Our team of digital product creators and Tech Bring Skilled will take your idea 
        to the next level and help you with your product
      </p>
      <div class="profile">
        <img src="person1.jpg" alt="Smail" />
        <div>
          <h3>Smail yefssah</h3>
          <span>CEO Innova</span>
        </div>
      </div>
    </div>

    <!-- Testimonial 2 -->
    <div class="testimonial-card">
      <p>
        Our team of digital product creators and Tech Bring Skilled will take your idea 
        to the next level and help you with your product
      </p>
      <div class="profile">
        <img src="person2.jpg" alt="Djamila" />
        <div>
          <h3>Djamila Malak</h3>
          <span>Co-Founder RobakKabyle</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation Arrows -->
  <div class="testimonial-nav">
    <button class="nav-btn">←</button>
    <button class="nav-btn">→</button>
  </div>
</div>

<app-footer>
