<section class="blog-section">
    <div class="dot"></div>
    <p class="subtitle">OUR RECENT POSTS</p>
    <h2>
      Our Latest <span class="highlight">News & Articles</span> <br>
      From The <span class="highlight">Blog</span>
    </h2>
  </section>

<div class="blog-container">
  <div class="single-blog-card">
    <div class="blog-img">
      <img src="Assets/Blog Image.jpg" alt="Blog Image">
      <span class="date-label">29 AUG</span>
      <div class="overlay">
        <span class="read-more">Read More →</span>
      </div>
    </div>
    <div class="blog-details">
      <div class="meta">
        <span>Website</span> · <span>Why a bussiness need website ?</span>
      </div>
      <h3>Coming soon...</h3>
      <a href="#" class="discover-btn">Discover More</a>
    </div>
  </div>

  <div class="single-blog-card">
    <div class="blog-img">
      <img src="Assets/Blog Image.jpg" alt="Blog Image">
      <span class="date-label">10 OCT</span>
      <div class="overlay">
        <span class="read-more">Read More →</span>
      </div>
    </div>
    <div class="blog-details">
      <div class="meta">
        <span>Website</span> · <span>Top 5 Reasons Every Business Needs a Professional Website in 2025</span>
      </div>
      <h3>Coming soon...</h3>
      <a href="#" class="discover-btn">Discover More</a>
    </div>
  </div>

  <div class="single-blog-card">
    <div class="blog-img">
      <img src="Assets/Blog Image.jpg" alt="Blog Image">
      <span class="date-label">1 NOV</span>
      <div class="overlay">
        <span class="read-more">Read More →</span>
      </div>
    </div>
    <div class="blog-details">
      <div class="meta">
        <span>Website</span> · <span>The Role of APIs in Modern Web Development</span>
      </div>
      <h3>Coming soon...</h3>
      <a href="#" class="discover-btn">Discover More</a>
    </div>
  </div>
</div>
