 .blog-section {
      text-align: center;
      padding: 30px 20px;
    }

    .blog-section .dot {
      width: 8px;
      height: 8px;
      background: orange;
      border-radius: 50%;
      margin: 0 auto 10px auto;
    }

    .blog-section .subtitle {
      font-size: 12px;
      font-weight: 500;
      color: #777;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .blog-section h2 {
      font-size: 62px;
      font-weight: 700;
      line-height: 1.4;
      color: #555;
    }

    .blog-section h2 .highlight {
      color: #0a0a8a; /* Deep Blue */
    }


.blog-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin: 40px 0;
}

.single-blog-card {
  width: 450px;
  /* height: 500px; */

  border: 1px solid #ddd;
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.single-blog-card:hover {
  transform: translateY(-8px);
}

.blog-img {
  position: relative;
  height: 260px;
  overflow: hidden;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}

.single-blog-card:hover .blog-img img {
  transform: scale(1.1); /* zoom effect */
}

.date-label {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #fff;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 2px;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.single-blog-card:hover .overlay {
  opacity: 1;
}

.read-more {
  color: orange;
  font-weight: bold;
  font-size: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}

.single-blog-card:hover .read-more {
  opacity: 1;
  transform: translateY(0);
}

.blog-details {
  padding: 20px;
}

.blog-details .meta {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.blog-details h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 18px;
  line-height: 1.4;
  color: #fff;
}

.discover-btn {
   
 
    background: linear-gradient(to right, #3a00ff, #000428); /* Adjust gradient if needed */
    color: white;
    border: none;
    padding: 10px 24px;
    font-size: 12px;
    
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    text-decoration: none;

}



.discover-btn:hover {
  opacity: 0.9;
}
