<footer class="footer">
  <div class="footer-container">
    
    <!-- Left Section -->
    <div class="footer-col">
      <img src="Assets/logo.png" alt="Logo" class="footer-logo">
      <p>{{companyName}} is a forward-thinking software company specializing in developing innovative software solutions and dynamic web applications. 
        <!-- We focus on creating efficient, user-friendly, and scalable digital products tailored to meet client needs. 
        With a commitment to quality and technology-driven growth, SS Technology transforms ideas into powerful digital experiences. -->
      </p>
      <!-- <div class="google-rating">
        <img src="Assets/google-page-speed 1.jpg" alt="Google">
        <span>100</span>
      </div> -->
    </div>

    <!-- Middle Section -->
    <div class="footer-col">
      <h4>Links</h4>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Case Studies</a></li>
        <li><a href="#">How it works</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Areas We Serve</a></li>
      </ul>
    </div>

    <!-- Right Section -->
    <div class="footer-col">
      <h4>Contact us</h4>
      <p>We’d love to hear from you! Reach out for project inquiries, collaborations, or support.</p>
      <p><strong>+91 showing soon..</strong></p>
      <div class="social-icons">
        <a href="#"><img src="Assets/Google Tools.jpg" alt="gmail"></a>
        <a href="#"><img src="Assets/x Media.jpg" alt="twitter"></a>
        <a href="#"><img src="Assets/linkedinMedia.jpg" alt="linkedin"></a>
        <a href="#"><img src="Assets/pin Media.jpg" alt="pinterest"></a>
        <a href="#"><img src="Assets/Messaging.jpg" alt="whatsapp"></a>
        <a href="#"><img src="Assets/face.jpg" alt="facebook"></a>
      </div>
    </div>

  </div>

  <!-- Bottom Copyright -->
  <div class="footer-bottom">
    <p>© 2023 Copyright by Agency Solutions. All rights reserved.</p>
  </div>
</footer>
